@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import "~react-image-gallery/styles/css/image-gallery.css"; */



/* @font-face {
  font-family: "Helvetica";
  src: url("../public/fonts/Helvetica_Light_Condensed.otf");
  font-weight: light;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica";
  src: url("../public/fonts/Helvetica_Condensed_Medium.otf");
  font-weight: medium;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica";
  src: url("../public/fonts/Helvetica_Condensed_Bold.otf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica";
  src: url("../public/fonts/Helvetica_Black_Condensed.otf");
  font-weight: black;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica";
  src: url("../public/fonts/Helvetica_Condensed_Italic.ttf");
  font-weight: light;
  font-style: italic;
}
@font-face {
  font-family: "Helvetica";
  src: url("../public/fonts/Helvetica_BQ_Regular.otf");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Helvetica";
  src: url("../public/fonts/Helvetica_Black_Condensed_Oblique.otf");
  font-weight: black;
  font-style: italic;
}


@font-face {
  font-family: "OpenSans Condensed";
  src: url("../public/fonts/opensans-condensed/OpenSans-CondensedLight.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans Condensed";
  src: url("../public/fonts/opensans-condensed/OpenSans-CondensedLightItalic.ttf");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "OpenSans Condensed";
  src: url("../public/fonts/opensans-condensed/OpenSans-CondensedRegular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans Condensed";
  src: url("../public/fonts/opensans-condensed/OpenSans-CondensedItalic.ttf");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "OpenSans Condensed";
  src: url("../public/fonts/opensans-condensed/OpenSans-CondensedSemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans Condensed";
  src: url("../public/fonts/opensans-condensed/OpenSans-CondensedSemiBoldItalic.ttf");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "OpenSans Condensed";
  src: url("../public/fonts/opensans-condensed/OpenSans-CondensedBold.ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans Condensed";
  src: url("../public/fonts/opensans-condensed/OpenSans-CondensedBoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "OpenSans Condensed";
  src: url("../public/fonts/opensans-condensed/OpenSans-CondensedExtraBold.ttf");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans Condensed";
  src: url("../public/fonts/opensans-condensed/OpenSans-CondensedExtraBoldItalic.ttf");
  font-weight: 800;
  font-style: italic;
} */








:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
/* body {
  @apply font-lato;
} */

@media screen and ( max-width: 768px ){
  .main-menu-item > a {
    @apply font-bold text-[20px] text-[#272727];
  }
}
@media screen and ( min-width: 769px ){
  .main-menu-item > a {
    @apply font-bold text-[18px] text-[#272727];
  }
}
.product-card-title {
  @apply text-[1rem]  font-bold   lg:text-[1.6rem]  tracking-[.02em] text-slate-900 lg:leading-8;
}
nav.image-gallery-thumbnails-container {
  display: flex;
  align-items: flex-start;
}

.price-box del .amount {
  color: #bbb;
  font-weight: 400;
  display: block;
  font-size: .60em;
  text-align: right;
  line-height: 1;
}
.price-box ins {
  text-decoration: none;
}
.price-box ins > span {
  color: #dd0513;
}


/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #cacaca;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/** LoadingLastik component ****/

@keyframes spin { 
    100% { 
        transform: rotate(-360deg);
    } 
}

@keyframes bounce {
  from, 20%, 53%, 80%, to {
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    transform: translate3d(0, -30px, 0);
  }

  70% {
    transform: translate3d(0, -15px, 0);
  }

  90% {
    transform: translate3d(0,-4px,0);
  }
}

.container {
	width: '100%';
}

.loader {
  /* width: 140px;
  height: 140px;
	margin: 120px auto; */
	text-align: center;
	color: #333;
}

.bounce {
	/* margin-top: 30px; */
	animation: bounce 1.5s infinite;
}

.wheel {
	fill: #333;
  animation: spin 2s linear infinite;
}

  /** END- LoadingLastik component ****/

  .selected {
    /* background: red; */
  }
  .selected * {
      color: #dd0513;
  }
  li[data-tax="car"].selected svg path, 
  li[data-tax="car"]:hover:not(.pasif) svg path, 
  li.selected svg path:first-child, 
  li[data-tax="car"].selected svg g path:last-child, 
  li[data-tax="car"]:hover:not(.pasif) svg g path:last-child, 
  li[data-tax="car"].selected *, 
  li:hover:not(.pasif) svg g path:first-child,
  li.selected svg g path:first-child {
    color: #dd0513;
    fill: #dd0513 !important;
    fill-rule: unset !important;
}
li[data-tax="car"]:hover:not(.pasif) span,
li[data-tax="season"]:hover:not(.pasif) span {
  @apply text-alfa-red-1
}

.selected_payment_method > label {
  @apply border-slate-800;
}

/* BMF****/

.product-list-wrap.loading .product-card > div {
  @apply opacity-20;
}
@media screen and ( max-width: 768px ){

  bdi:before {
    content: '';
    width: 100%;
    height: 14px;
    background: #ffeb3b;
    position: absolute;
    left: 0px;
    bottom: -3px;
    z-index: 1;
    display: block;
  }
  bdi span {
    position: relative;
    z-index: 22;
  }
  
}
@keyframes bouncex {
  0%, 100% {
    transform: translateX(-25%);
    animationTimingFunction: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateX(0);
    animationTimingFunction: cubic-bezier(0, 0, 0.2, 1);
  }
}
.animate-to-right {
  animation: bouncex 0.5s infinite;
}
.see-deals-btn {
  text-shadow: 0px 0px 10px #000000ad;
}
.herobanner-mobil-bg-wrapper:before {
  content: '';
  display: block;
  min-height: 100%;
  background-color: green;
}